// Color Variables
$dark-primary-color: #FFA000;
$light-primary-color: #FFECB3;
$primary-color:#FFC107;
$text-icons: #212121;
$accent-color: #607D8B;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$white: #fff;

// Font variables
$header-family: "Paytone One", sans-serif;
$quote-family: "Architects Daughter", cursive;
$paragraph-family: "Montserrat", sans-serif;


