{% load static i18n %}
{% url 'dashboard' as dashboard%}
{% url 'users:detail' request.user.username as user %}
{% url 'users:update' as update_profile %}
{% url 'account_change_password' as res_password %}
{% url 'transactions:support' as support %}
{% url 'users:verify' request.user.username as verify %}
{% url 'transactions:withdraw' as withdraw %}
{% url 'transactions:deposit' as invest %}
{% url 'transactions:history' as transactions %}
{% url 'transactions:recover' as recover %}
{% url 'transactions:support' as support %}
{% url 'admin:index' as admin %}
{% url 'transactions:verify' as admin_transactions %}

{% url 'mt5' as mt5 %}
<input type="checkbox" id="nav-toggle">
<div class="sidebar py-3">
    <div class="sidebar-brand">
        <h6><img src="{% static 'images/logo.png' %}" alt="Logo"><span> Bilialcoin</span></h6>
    </div>

    <div class="sidebar-menu">
      <ul>
        {% if request.user.is_authenticated %}
        <li {% if request.path == dashboard %}class="active"{% endif %}>
          <a href="{% url 'dashboard' %}">
            <i class="las la-igloo"></i> <span>Dashboard</span>
          </a>
        </li>
        <li {% if request.path == user or request.path == update_profile or request.path == "/accounts/email/" %}class="active"{% endif %}>
          <a href="{{user}}">
            <i class="las la-user"></i> Account
          </a>
        </li>
        <li {% if request.path == res_password %}class="active"{% endif %}>
          <a href="{{res_password}}">
            <i class="las la-key"></i> Password Change
          </a>
        </li>
        {% endif %}
        <li {% if request.path == support %}class="active"{% endif %}>
          <a href="{{support}}">
            <i class="las la-headset"></i> Support
          </a>
        </li>
      </ul>
    </div>
</div>
