{% load static i18n %}

<!-- Testimonial section begin -->
<div class="container">
  <div class="demo">
    <div class="container">
        <h3 class="text-center mb-3">Testimonials</h3>
        <p class="text-center mb-3">read about all people have to say about us</p>
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    {% for test in recent_testimonials %}
                    <div class="testimonial">
                        <span class="las la-quote-left"></span>
                        <p class="description">
                            {{test.desc}}
                        </p>
                        <div class="testimonial-content">
                            <div class="pic"><img src="{{test.pic.url}}" width="70" alt=""></div>
                            <h3 class="title">{{test.name}}</h3>
                            <span class="post">{{test.created}}</span>
                        </div>
                    </div>
                    {% empty %}
                    <div class="testimonal">
                        <p class="description">
                            no testimonials yet
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
  <!-- Testimonial end -->