{% extends "account/email/base.html" %}
{% load account i18n %}

{% block subject %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}
{% user_display user as user_display %}
  <p>
    {% blocktrans %}
      You're receiving this e-mail because you or someone else has requested a password for your user account.
      It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
    {% endblocktrans %}
  </p>

  <p>
    {{ password_reset_url }}
  </p>
  
  {% if username %}
  <p>
    {% blocktrans %}
    In case you forgot, your username is {{ username }}.{
    {% endblocktrans %}
  </p>
  {% endif %}
{% endblock %}