{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ user.username }}{% endblock %}

{% block sidebar %}
{% include 'app/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-body mb-3">
          <div class="card-header">
            <h3>Personal Profile</h3>
          </div>
          <form class="form-horizontal mt-4" method="post" action="{% url 'users:update' request.user.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <!-- <h3>Profile Details</h3>

            {{ profileform|crispy }} -->
            
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-warning btn-block font-weight-bold">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
