{% extends "base.html" %}
{% load static %}

{% block title %}Profile: {{ object.username }}{% endblock %}

{% block sidebar %}
{% include 'app/sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'app/dashboard-cards.html' %}

<div class="widget">
  <div class="card mt-4">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12 col-md-2">
          <img src="{% if request.user.userprofile.passport %}{{request.user.userprofile.passport.url}}{% else %}{% static 'images/user.png' %}{% endif %}" style="height: 5rem; margin-right:2rem; border-radius:50%;" alt="">
        </div>
        <div class="col-sm-10 col-md-9">
          <div class="ml-5">
            <h4>{{object.first_name}} {{object.last_name}} <span>{% if request.user.is_verified %}<i class="las la-certificate text-success"></i>{% endif %}</span></h4>
            <p class="mb-0 small"><i class="las la-globe"></i>: <small class="font-weight-bold">{{object.userprofile.nationality.name}}</small></p>
            <p class="mb-0 small"><i class="las la-fingerprint"></i>: <small class="font-weight-bold">{{object.unique_id}}</small></p>
            <p class="mb-0 small"><i class="las la-phone"></i>: <small class="font-weight-bold"><a class="text-secondary font-weight-bold" href="tel://+{{object.userprofile.international_number}}" >+{{object.userprofile.international_number}}</a></small></p>
          </div>
        </div>
        <div class="col-sm-2 col-md-1">
          <div class="edit" id="edit">
            {% if object == request.user %}
            <!-- Action buttons -->
                <a class="rounded-circle font-weight-bold mr-5" href="{% url 'users:update' request.user.username %}" data-toggle="tooltip" data-placement="left" title="Edit Personal Information"><i class="las la-edit" style="font-size:1.3rem"></i></a>
                <a class="rounded-circle font-weight-bold" href="{% url 'account_email' %}" data-toggle="tooltip" data-placement="left" title="Settings"><i class="las la-user-cog" style="font-size:1.3rem"></i></a>
                <!-- Your Stuff: Custom user template urls -->
            <!-- End Action buttons -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-body table-responsive">
                  {% if object.get_full_name %}
                  <h2>Personal Informations</h2>
                  <table class="table table-borderless table-hover">
                    <tbody style="color: var(--color-text);">
                      <tr>
                        <th scope="row">Username</td><td>{{object.username}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Referral Master</td><td>{% if object.userprofile.recommended_by %}{{ object.userprofile.recommended_by }}{% else %}No Referral Master{% endif %}</td>
                      </tr>
                      <tr>
                        <th scope="row">Referral Link</td><td>{% if object.userprofile.code %}<a style="color:green" href="{% url 'ref-home' request.user.userprofile.code %}">{% url 'ref-home' request.user.userprofile.code %}</a>{% else %}Update Profile{% endif %}</td>
                      </tr>
                      <tr>
                        <th scope="row">Email</td><td>{{object.email}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Member Since</td><td>{{object.member_since}}</td>
                      </tr>
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-body table-responsive">
                  <h2>Referral List</h2>
                  {% if object.userprofile %}
                  <table class="table table-borderless table-hover">
                    <tbody style="color: var(--color-text);">
                      {% for refs in my_recs %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</td><td>{{refs.user.get_full_name}}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td>Referral</td><td>None</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
