{% extends "base.html" %}
{% load static %}

{% block title %}Transaction History: {{ request.user.username }}{% endblock %}

{% block sidebar %}
{% include 'app/sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'app/dashboard-cards.html' %}
<div class="widget">
  <div class="card">
    <div class="card-body">
      <div class="card-header mb-4">
        <h3>Transaction History</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover" style="color: var(--color-text);">
          <thead>
            <tr>
              <th>Username</th>
              <th>Amount</th>
              <th>Transaction Type</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for dp in deposits %}
            <tr>
              <td>
                {{ dp.depositor }}
              </td>
              <td {% if dp.status == "APPROVED" %}class="text-success font-weight-bold"{% endif %}>
                {{ dp.amount }}
              </td>
              <td>
                Invest
              </td>
              <td>
                {{ dp.created }}
              </td>
              <td class="font-weight-bold">
                <a class="btn btn-warning font-weight-bold" href="{% url 'transactions:verify-deposit' dp.id %}"> {{ dp.approval }}</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td class="text-center" colspan="6">
                No Pending deposit
              </td>
            </tr>
            {% endfor %}
            {% for wd in withdrawals %}
            <tr>
              <td>
                {{ wd.withdrawer }}
              </td>
              <td {% if wd.status == "APPROVED" %}class="text-success font-weight-bold"{% endif %}>
                {{ wd.amount }}
              </td>
              <td>
                Withdrawal
              </td>
              <td>
                {{ wd.created }}
              </td>
              <td class="font-weight-bold">
                <a class="btn btn-warning font-weight-bold" href="{% url 'transactions:verify-withdrawal' wd.id %}">{{ wd.approval }}</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td class="text-center" colspan="6">
                No Pending withdrawals
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}