{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}Support Form | {{ request.user.username }}{% endblock %}

{% block sidebar %}
{% include 'app/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="widget">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-body mb-3">
          <div class="card-header">
            <h3>Request for Support</h3>
            <p>Our support line is active 24/7</p>
          </div>
          <form class="form-horizontal mt-4" method="post" action="{% url 'transactions:support' %}">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}

            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-warning btn-block font-weight-bold">Submit</button>
              </div>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div> 
{% endblock %}
